<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body >

    <%- include("header") -%>

    <div class="container-fluid bg-dark">
      <div class="container">
        <div class="bg-white text-center" id="menu">
          <h1>BAŞLANGIÇLAR</h1>
          <ul class="baslangıclar ">
            <li>DANA CARPACCIO</li>
            <li>DANA FÜME</li>
            <li>FÜME RIB EYE</li>
            <li>STEAK TARTAR</li>
            <li>KARİDES IZGARA</li>
            <li>NUSR-ET SPESİYEL SUSHI</li>
          </ul>

          <h1>SALATALAR</h1>
          <ul>
            <li>ROKA SALATASI</li>
            <li>TULUM PEYNİR SALATASI</li>
            <li>AKDENİZ SALATASI</li>
            <li>KAŞIK SALATASI</li>
            <li>DOMATES SALATASI</li>
            <li>AVOKADO SALATASI</li>
          </ul>

          <h1>ETLER</h1>
          <ul>
            <li>DANA KABURGA</li>
            <li>DANA ANTRİKOT</li>
            <li>DANA ŞAŞLIK</li>
            <li>DANA SIRTI</li>
            <li>NUSR-ET SPAGHETTI</li>
          </ul>

          <h1>STEAKLER</h1>
          <ul>
            <li>DALLAS STEAK</li>
            <li>NUSR-ET KOBE</li>
            <li>NEW YORK STEAK</li>
            <li>TOSCANA</li>
            <li>TOMAHAWK</li>
            <li>HARDAL SOSLU DALLAS STEAK</li>
          </ul>

          <h1>DANA BONFİLELER</h1>
          <ul>
            <li>LOKUM</li>
            <li>FILLET MİGNON BONFİLE</li>
            <li>NUSR-ET SPECIAL</li>
            <li>HARDAL SOSLU BONFİLE</li>
          </ul>

          <h1>BURGERLER</h1>
          <ul>
            <li>NUSR-ET BURGER</li>
            <li>LOKUM BURGER</li>
          </ul>

          <h1>GARNİTÜRLER</h1>
          <ul>
            <li>PATATES KROKET</li>
            <li>PATATES PÜRESİ</li>
            <li>MANTAR</li>
            <li>YAYLA ISPANAK</li>
            <li>PATATES CİPSİ</li>
            <li>PATATES CİPSİ</li>
            <li>SOĞAN ÇİÇEĞİ</li>
          </ul>

          <h1>TATLILAR</h1>
          <ul>
            <li>ŞÖBİYET</li>
            <li>PORTAKALLI TRUFFLE</li>
            <li>HAVUÇ DİLİMİ</li>
            <li>DONDURMA</li>
          </ul>




        </div>
      </div>

    </div>


  </body>
</html>
