<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body style="background-image:url(images/r7.jpg);background-size: cover;"

    <div class="text-white text-center ">

      <%-  include("header")   -%>


    <%for(var i=0; i<rezervasyon.length;i++){ %>

      <h1><%=rezervasyon[i]%></h1>

    <%}%>

    </div>

  </body>
</html>
